<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>综合管理平台</title>
<link rel="stylesheet" type="text/css" href="/css/default.css" ></link>
<link rel="stylesheet" type="text/css" href="/css/style/green.css"  ></link>
</head>
<body>

<!--loginbox start-->
<div class="loginbox">

	<div class="login">
		<div class="loginlogo"></div>
        
        <div class="loginpanel">
        	<h2>项目管理</h2>
            <ul class="userlogin">
            <li><i class="iconfont">&#xe600;</i><input type="text" class="loginuser" value="用户名" onClick="JavaScript:this.value=''"></input></li>
            <li><i class="iconfont">&#xe616;</i><input type="text" class="loginpassword" value="密码" onClick="JavaScript:this.value=''"></input></li>
            <li><a href="main.html">登录</a></li>
            <li><span><input type="checkbox" class="logincheck"></input></span>记住我的信息</li>
            </ul>
        </div>
        
        <div class="logininfo">CopyRight 2017  版权所有  </div>
    </div> 
    
</div>
<!--loginbox end-->

</body>
<script type="text/javascript">

</script>
</html>
